# Collegedata scraping (1)

In [1]:
%matplotlib inline
import numpy as np
import scipy as sp
import matplotlib as mpl
import matplotlib.cm as cm
import matplotlib.pyplot as plt
import pandas as pd
pd.set_option('display.width', 500)
pd.set_option('display.max_columns', 100)
pd.set_option('display.notebook_repr_html', True)
import seaborn as sns
sns.set_style("whitegrid")
sns.set_context("poster")

import requests
import time
from bs4 import BeautifulSoup
import re
import TIdatabase as ti

In [2]:
genderdict = {'Male': -1, 'Female': 1}
highschooldict = {'Public': -1, 'Private': 1, 'Parochial': 1, 'Home-Schooled': 1}
minoritylist = ['african', 'hispanic', 'latin','indian', 'native', 'black', 'mexican']
nonminoritylist = ['white', 'caucasian', 'asian', 'european', 'chinese', 'hebrew']
sats=[1600, 1560, 1510, 1460, 1420, 1380, 1340, 1300, 1260, 1220, 1190, 1150, 1110, 1070, 1030, 990, 950, 910, 870, 
      830, 790, 740, 690, 640, 590, 530]
act2satdict=dict(zip(range(11,37),sats))
booleandict={'': -1, 'X': 1}
statusdict={'Will Attend': 1, 'Accepted': 1, 'Applied': 0, 'Deferred': -1, 'Denied': -1, 'Not Applied': 0, 'Wait-Listed': 1, 'Withdrawn': 0, '': 0}

In [3]:
def getFromDict(dictionary,text):
    if dictionary.has_key(text):
        return dictionary[text]
    else:
        return 0
def isMinority(text):
    for m in minoritylist:
        if m in text:
            return 1
    for m in nonminoritylist:
        if m in text:
            return -1
    print text
    return 0

In [4]:
college_ids=['Princeton', 'Harvard', 'Yale', 'Columbia', 'Stanford', 'UChicago', 'MIT', 'Duke', 'UPenn', 'CalTech', 'JohnsHopkins', 'Dartmouth', 'Northwestern', 'Brown', 'Cornell', 'Vanderbilt', 'WashU', 'Rice', 'NotreDame', 'UCB', 'Emory', 'Georgetown', 'CarnegieMellon', 'UCLA', 'USC']
college_urls=[111, 444, 244, 399, 781, 327, 186, 1026, 67, 706, 1509, 403, 1803, 163, 787, 1562, 1720, 731, 1774, 1090, 1039, 1182, 204, 1093, 1138]
college_id_dict=dict(zip(college_ids,college_urls))
uni_list=['Princeton University', 'Harvard College', 'Yale University', 'Columbia University', 'Stanford University', 'University of Chicago', 'Massachusetts Institute of Technology', 'Duke University', 'University of Pennsylvania', 'California Institute of Technology', 'Johns Hopkins University', 'Dartmouth College', 'Northwestern University', 'Brown University', 'Cornell University', 'Vanderbilt University', 'Washington University in St. Louis', 'Rice University', 'University of Notre Dame', 'University of California, Berkeley', 'Emory Univesrity', 'Georgetown University', 'Carnegie Mellon University', 'University of California, Los Angeles', 'University of Southern California']
uni_name_dict = dict(zip(uni_list, college_ids))
uni_state=['NJ', 'MA', 'CT', 'NY', 'CA', 'IL', 'MA', 'NC', 'PA', 'CA', 'MD', 'NH', 'IL', 'RI', 'NY', 'TN', 'MO', 'TX', 'IN', 'CA', 'GA', 'DC', 'PA', 'CA', 'CA']
states_dict={'Alabama': 'AL',
 'Alaska': 'AK',
 'American Samoa': 'AS',
 'Arizona': 'AZ',
 'Arkansas': 'AR',
 'California': 'CA',
 'Colorado': 'CO',
 'Connecticut': 'CT',
 'Delaware': 'DE',
 'District of Columbia': 'DC',
 'Florida': 'FL',
 'Georgia': 'GA',
 'Guam': 'GU',
 'Hawaii': 'HI',
 'Idaho': 'ID',
 'Illinois': 'IL',
 'Indiana': 'IN',
 'Iowa': 'IA',
 'Kansas': 'KS',
 'Kentucky': 'KY',
 'Louisiana': 'LA',
 'Maine': 'ME',
 'Maryland': 'MD',
 'Massachusetts': 'MA',
 'Michigan': 'MI',
 'Minnesota': 'MN',
 'Mississippi': 'MS',
 'Missouri': 'MO',
 'Montana': 'MT',
 'National': 'NA',
 'Nebraska': 'NE',
 'Nevada': 'NV',
 'New Hampshire': 'NH',
 'New Jersey': 'NJ',
 'New Mexico': 'NM',
 'New York': 'NY',
 'North Carolina': 'NC',
 'North Dakota': 'ND',
 'Northern Mariana Islands': 'MP',
 'Ohio': 'OH',
 'Oklahoma': 'OK',
 'Oregon': 'OR',
 'Pennsylvania': 'PA',
 'Puerto Rico': 'PR',
 'Rhode Island': 'RI',
 'South Carolina': 'SC',
 'South Dakota': 'SD',
 'Tennessee': 'TN',
 'Texas': 'TX',
 'Utah': 'UT',
 'Vermont': 'VT',
 'Virgin Islands': 'VI',
 'Virginia': 'VA',
 'Washington': 'WA',
 'West Virginia': 'WV',
 'Wisconsin': 'WI',
 'Wyoming': 'WY',
  'Other': 'Other'}
uni_state_dict = dict(zip(uni_list,uni_state))
baseurl='http://www.collegedata.com/cs/admissions/'
tracker_url='admissions_tracker_result.jhtml?schoolId='
student_url='admissions_profile_view.jhtml?profileName='

In [5]:
## Source: https://impythonist.wordpress.com/2015/01/06/ultimate-guide-for-scraping-javascript-rendered-web-pages/
import sys  
from PyQt4.QtGui import *  
from PyQt4.QtCore import *  
from PyQt4.QtWebKit import *  
from lxml import html 

class Render(QWebPage):  
    def __init__(self, url):  
        self.app = QApplication(sys.argv)  
        QWebPage.__init__(self)  
        self.loadFinished.connect(self._loadFinished)  
        self.mainFrame().load(QUrl(url))  
        self.app.exec_()  
  
    def _loadFinished(self, result):  
        self.frame = self.mainFrame()  
        self.app.quit()

In [6]:
schoolurl=baseurl+tracker_url+str(244)+'&classYear='
r=Render(schoolurl+str(2019))
result = r.frame.toHtml()
#print str(result.toAscii())

In [7]:
soup = BeautifulSoup(str(result.toAscii()),'html.parser')
#r = requests.get(schoolurl+str(2009))
#time.sleep(3)
#soup = BeautifulSoup(r.text,'html.parser')
#print soup.prettify()
#rows = soup.find(id="profilewrap") #.find(id='tableBodyWrap').find_all("tr")[1:]
#print rows

In [8]:
profiles= soup.find_all("a",href=re.compile(r"enterProfileByName"))
profileList=set()
for p in profiles:
    profileList.add(p.get("href").split("'")[1])
print len(profileList)

63

In [81]:
def getScores(scores,fun):
    scores = [s.get_text().strip() for s in scores]
    while '' in scores:
        scores.remove('')
    if len(scores)>0:
        scores=[int(s) for s in scores]
        return fun(scores), len(scores)
    else:
        return None, 0
def getAdmissionTestScore(doc):
    satCRM,dummy = getScores(doc[0:2],sum)
    satW,dummy = getScores([doc[2]],np.max)
    act,dummy = getScores([doc[4]],np.max)
    if act == None:
        return (satCRM+satW)
    elif satCRM==None:
        if satW==None:
            print "Warning: no SAT writing score"
        return act2satdict[act]+satW
    else:
        return (max(act2satdict[act],satCRM)+satW)
def getCanAfford(text):
    if 'Yes' in text:
        return -1
    elif 'No' in text:
        return 1
    else:
        return 0
# Code courtesy of: http://stackoverflow.com/questions/265960/best-way-to-strip-punctuation-from-a-string-in-python
import unicodedata
def removePunct(text):
    #text= re.compile('[%s]' % re.escape(string.punctuation)).sub("",text)
    text = re.sub(r'([^\s\w]|_)+'," ",text)
    #text = re.sub(ur"\p{P}+", "", text)
    #exclude = set(string.punctuation)
    #text = ''.join(ch for ch in text if ch not in exclude)
    #tbl = dict.fromkeys(i for i in xrange(sys.maxunicode) if unicodedata.category(unichr(i)).startswith('P'))
    return re.sub('\s+',' ',text).encode('latin-1')

In [10]:
columns_student = ['classrank', 'admissionstest','AP','averageAP','SATsubject', 'GPA', 'GPA_w', 'program','schooltype',
            'intendedgradyear', 'addInfo', 'canAfford', 'female', 'MinorityGender','MinorityRace','international',
           'firstinfamily','sports','artist', 'workexp']
columns_uni = ['collegeID','earlyAppl','visited','alumni', 'outofstate', 'acceptStatus','acceptProb']

In [15]:
def getColumnValues(soup):
    values=dict(zip(columns_student,[None for i in range(len(columns_student))]))
    applications=[]
    # We start with the general information box at the top which includes class year, gender and ethnicity
    doc= soup.find("div",{"class": "general"})
    values['intendedgradyear'] = int(re.findall(r'\d{4}',doc.find("h1").get_text().split('Class of')[-1])[0]) # CLASS YEAR
    doc = doc.find_all("span")
    values['female']= getFromDict(genderdict,doc[0].get_text().strip()) # GENDER
    values['MinorityGender']= 1 if values['female']==0 else -1
    values['MinorityRace'] = isMinority(doc[1].get_text().strip().lower()) # MINORITY RACE
    values['program'] = removePunct(doc[2].get_text().strip()) # PROGRAM
    # Now we look at the academics box which includes GPA and high school info
    doc = soup.find("div", {"class": "academicswrap"}).find_all("span")
    values['schooltype']=getFromDict(highschooldict,doc[0].get_text().strip()) # SCHOOL TYPE
    state=states_dict[doc[1].get_text().strip()] # STATE OF STUDENT
    values['international'] = 1 if state=='Other' else -1
    values['GPA'] = float(doc[3].get_text()) # unweighted GPA
    values['GPA_w'] = float(doc[4].get_text()) if doc[4].get_text().strip()!='' else None # Weighted GPA
    # Next, we go to the test score box which includes SAT, ACT and AP info
    values['admissionstest'] = getAdmissionTestScore(soup.find("div", {"class": "testscorewrap"}).find_all("td")) #Admissions test
    values['SATsubject'] = len(soup.find("caption",text="SAT Subject Test Scores").next_sibling.next_sibling.find_all("tr")) # SAT SUBJECT
    ap_num = len(soup.find("caption",text="AP Examinations").next_sibling.next_sibling.find_all("tr"))
    values['AP']=ap_num #AP
    if ap_num>0:
        doc = soup.find("caption",text="AP Examinations").next_sibling.next_sibling.find_all("td")
        values['averageAP'],values['AP']= getScores(doc,np.mean) # AVERAGE AP
    doc = soup.find_all("div", {"class": "word"})
    doc = [d.get_text().strip() for d in doc]  
    values['addInfo']= removePunct(doc[0]+doc[1]+doc[2]) # Additional info
    # Next: the colleges applied to and the admission results for the admissions table
    doc = soup.find("table", {"class": "collchoice"})
    collegelist = doc.find("tbody").find_all("tr")
    for c in collegelist:
        uni = c.find("th").find("span").get_text().strip()
        if uni in uni_list:
            unirow = dict(zip(columns_uni,[None for i in range(6)]))
            unirow['collegeID']=uni_name_dict[uni]
            doc=c.find_all("td", {"class": "center"})
            unirow['earlyAppl']=booleandict[doc[0].get_text().strip()] # Early Admission
            unirow['alumni']=booleandict[doc[1].get_text().strip()] # Alumni/Legacy
            if values['sports']==None or values['sports']==0: 
                values['sports']=booleandict[doc[2].get_text().strip()] # Athlete
            doc = doc[2].next_sibling.find_next("span")
            unirow['acceptStatus']=statusdict[doc.get_text().strip()] # Admission status
            if values['canAfford']==None or values['canAfford']==0:
                values['canAfford']=getCanAfford(doc.find_next("span").get_text().strip())
            unirow['outofstate']= -1 if state==uni_state_dict[uni] else 1
            applications.append(unirow)
    return values, applications

In [84]:
if ('students' in locals()): 
    students.cleanup()
    del students
if ('applForm' in locals()): del applForm
students=ti.Student()
colleges = ti.College()
applForm = ti.ApplForm()
for p in profileList:
    #print p
    profile_url=baseurl+student_url+p
    soup=BeautifulSoup(requests.get(profile_url).text,'html.parser')
    newrow, applications = getColumnValues(soup)
    studentID=students.insert(newrow)
    for app in applications:
        app['studentID']=studentID[0]
    applForm.insert(applications)
students.df

cambodian

earthling - what else matters?


china

india

     studentID classrank  admissionstest  AP averageAP  SATsubject   GPA GPA_w                                       program  schooltype  intendedgradyear                                            addInfo  canAfford  female  MinorityGender  MinorityRace  international firstinfamily  sports artist workexp
0   6DQ8ASVPFX      None            1930   5       4.6           0  3.93  None                        Mechanical Engineering          -1              2019  track and field 15 hours a weekVarsity letter ...          1       1              -1             1             -1          None      -1   None    None
0   NOP4X46KW6      None            2200   0      None           2  3.97  None                                       Biology          -1              2019  BoyScouts NHS NHS world language HOSA Varsity ...         -1      -1              -1             0             -1          None      -1   None    None
0   PF29L59LDN      None            2350   7         5           4  4.00  4.07                                   Mathematics          -1              2019                                                            -1      -1              -1            -1             -1          None      -1   None    None
0   OV1DA5NRBK      None            2360   7         5           3  4.00  4.91                        Industrial Engineering          -1              2019  Varsity Swimming 2 years 60 hours year Nationa...         -1      -1              -1            -1             -1          None      -1   None    None
0   NGVXH37NAJ      None            2250   4       4.5           2  3.89  4.78                                                         0              2019  First Cello in Youth Symphony Writing awards G...         -1       1              -1             1             -1          None      -1   None    None
0   G3XWLEVJ90      None            2170   7  4.571429           3  3.90  4.24          International Relations Biochemistry          -1              2019                                                            -1      -1              -1            -1             -1          None      -1   None    None
0   PYCZ84NJEL      None            2200   0      None           2  4.00   4.4                             Political Science          -1              2019  Long Branch High School Junior Varsity Varsity...         -1       1              -1            -1             -1          None      -1   None    None
0   AZJY8J1585      None            2290   7  4.857143           3  4.00  None                                       geology          -1              2019  Employed as a church organist Select Choir Jaz...          1      -1              -1             1             -1          None      -1   None    None
0   VNY5CL8NZA      None            2110   3  4.333333           3  3.60  None                                    Philosophy          -1              2019  Director of African American Culture Club Gene...         -1      -1              -1             1             -1          None      -1   None    None
0   5KV73WIC45      None            2340   7         5           2  3.98  4.41                                       Biology          -1              2019  Piano for 12 years scholarship pre college stu...         -1       1              -1            -1             -1          None      -1   None    None
0   8MRLU8M8VC      None            2200   2       4.5           0  3.81  4.16                                   Engineering          -1              2019  Run two small businesses 2013 2014 FIRST robot...         -1      -1              -1             0             -1          None      -1   None    None
0   MA0K3TJTBY      None            2140   0      None           0  3.60  4.15                              Computer Science          -1              2019  Varsity swimming 9 12 grades 12 hours wk Robot...         -1      -1              -1             0             -1          None      -1   None    None
0   Z9PKYOQ319      None            2370   5       4.8           3  4.00  None                                      Computer           0              2019  Football Astronomy club computer club spaceset...          1      -1              -1            -1              1          None      -1   None    None
0   D8JJSELLYA      None            2230   3         5           3  4.00   4.1                           Electrical Engineer          -1              2019                                                            -1      -1              -1             0             -1          None      -1   None    None
0   DZ5JZ85YS9      None            2250   0      None           4  4.00  None                                                         0              2019  Volunteer Paramedic 24h week 50weeks year Stud...         -1      -1              -1            -1              1          None      -1   None    None
0   62MAL50CYN      None            2270   3  4.666667           2  4.00     5                                     Chemistry          -1              2019  Debate Team 2011 2014 7hours wk Congress Capta...         -1       1              -1             0             -1          None      -1   None    None
0   E6C6L3DMBW      None            2040   2       4.5           2  3.70  4.56  Neurosci or Bio possible minor in humanities          -1              2019  Activities Science Club 1 hr week 9 weeks year...         -1       1              -1             1             -1          None      -1   None    None
0   0AJ52L11TE      None            2150   5       3.8           2  3.94  4.25                                                        -1              2019                                                            -1       1              -1            -1             -1          None      -1   None    None
0   16SSVCY3EP      None            2340   7  4.428571           4  3.33     4                                Bioengineering          -1              2019                                                            -1       1              -1             0             -1          None      -1   None    None
0   57B2KOGTX6      None            1870   6       2.5           0  4.00     4                       Business Administration          -1              2019  I am on the school s varsity soccer team I am ...         -1       1              -1             1             -1          None      -1   None    None
0   LMCFEJD6J1      None            2300   6  4.833333           4  3.99  4.87                             political science          -1              2019                                                            -1       1              -1             0             -1          None      -1   None    None
0   61M211N5VA      None            2150   6  4.333333           3  4.00   4.3                           Geosciences Biology          -1              2019  STEM Exploration Days Boise State University 2...         -1       1              -1             0             -1          None      -1   None    None
0   2BF9QN3QTU      None            2310   3         5           3  3.98  4.74                                       Physics          -1              2019                                                             1      -1              -1            -1             -1          None      -1   None    None
0   WTF8TA0VZ4      None            2070   7  3.857143           0  4.00  4.67                        Biomedical Engineering          -1              2019                                                            -1       1              -1            -1             -1          None      -1   None    None
0   0Y3AGO34GC      None            1980   0      None           3  4.00  None                                       Physics           0              2019  Tennis 20h week Theater Drama 2 h week Paintin...         -1      -1              -1            -1              1          None      -1   None    None
0   7VUHICVSZM      None            2240   7  4.714286           2  4.00     5                                                        -1              2019  3 Years of Basketball 2 Varsity 3 Years of Var...          1      -1              -1            -1             -1          None      -1   None    None
0   PW5HL4K04Z      None            2210   4         5           5  4.00  4.07               International Political Economy          -1              2019  National Junior Honor Society 2010 2013 Foreig...         -1       1              -1            -1             -1          None      -1   None    None
0   XTIFDB68KE      None            1800   3         3           0  3.70  None                          Computer engineering          -1              2019                                                             0      -1              -1             1             -1          None       1   None    None
0   ZVUOPBJ65M      None            2310   7  4.857143           3  4.00     4                                     Economics          -1              2019  Beta Club 9 12 grade 1hr wk Speech and Debate ...         -1       1              -1            -1             -1          None      -1   None    None
0   T5ADKNCIFI      None            2250   4         4           2  3.75  4.25                                                        -1              2019                                                            -1       1              -1             0             -1          None      -1   None    None
..         ...       ...             ...  ..       ...         ...   ...   ...                                           ...         ...               ...                                                ...        ...     ...             ...           ...            ...           ...     ...    ...     ...
0   24KMCTSVLL      None            2070   4       4.5           3  4.00     5                             Political Science          -1              2019  High School Democrats of America 20 hrs week N...         -1      -1              -1            -1             -1          None      -1   None    None
0   BLZT496PT0      None            2250   0      None           0  4.00  None                                                         0              2019                                                            -1       0               1             0             -1          None      -1   None    None
0   MAYRI1NOA3      None            1890   0      None           2  3.90   4.1                                                         1              2019                                                             1      -1              -1             0             -1          None      -1   None    None
0   9LJ59UPU42      None            2390   7         5           2  4.00  None                                    Statistics          -1              2019  Academic Decathlon captain tutoring club presi...         -1       1              -1            -1             -1          None      -1   None    None
0   Q09Q41B2Z1      None            2320   0      None           2  3.90  None                                     Economics           1              2019                                                             1       1              -1             1              1          None      -1   None    None
0   QPMBC6BG0O      None            2360   5       3.6           4  3.94  None                                     Economics          -1              2019  Theatre four years at more than 12 hours week ...          0      -1              -1            -1             -1          None      -1   None    None
0   N58GZL2AEN      None            1960   5       4.2           3  4.00  None                                     Economics          -1              2019  Drama Club Varsity Beachvolleyball Student Gov...         -1      -1              -1             1             -1          None      -1   None    None
0   3NH70KA9X8      None            2090   4      3.75           3  3.62  None                                                        -1              2019  Cross country captain 10 hours per week Track ...          1       1              -1             0             -1          None      -1   None    None
0   EWXXOJALDU      None            2010   0      None           2  3.86  4.97                                                        -1              2019                                                             1      -1              -1             1             -1          None      -1   None    None
0   O6JRVA2ZP6      None            2260   7  4.857143           5  3.95     5                              Computer Science          -1              2019                                                            -1      -1              -1            -1             -1          None      -1   None    None
0   B3IW3KTP9J      None            2250   2       4.5           2  4.00   4.9                              Computer Science          -1              2019   Key Club grades 9 12 1 year treasurer 2 year ...         -1       1              -1            -1             -1          None      -1   None    None
0   GIZLT6B8BB      None            2120   6       4.5           3  3.90   4.9                                     Psycology          -1              2019  Volleyball 4 years Varsity 1 year captain Club...          0      -1              -1            -1             -1          None       1   None    None
0   SLNOE890VC      None            2350   7  4.857143           5  3.85  4.17                             Political Science          -1              2019                                                            -1      -1              -1            -1             -1          None      -1   None    None
0   100YOVXTRC      None            2110   2         5           4  3.91  None                                Marine Biology           0              2019  LEADERSHIP EXPERIENCES Attended the fourth Ten...         -1      -1              -1             1             -1          None      -1   None    None
0   34S4OOXM1L      None            2060   0      None           3  3.40   3.8                                  Neuroscience           0              2019  Pointe Dancer with Local Ballet Troupe Secreta...         -1       1              -1            -1              1          None      -1   None    None
0   UJ8XWKY60E      None            2400   7  4.857143           6  4.00     5                                   Mathematics          -1              2019  Captain of the varsity track team President of...          1      -1              -1            -1             -1          None       1   None    None
0   NFBL9XACXV      None            2200   1         5           2  4.00  None                                Bioengineering          -1              2019                                                            -1       1              -1            -1             -1          None      -1   None    None
0   OPESV86HEX      None            2130   3  4.666667           3  4.00  4.07                                                        -1              2019                                                            -1       1              -1            -1             -1          None      -1   None    None
0   A9JAHCHMK3      None            2335   0      None           2  3.20   3.2                              COMPUTER SCIENCE           1              2019  I PARTICIPATED IN SPORTS PARTICULARLY COMPRISI...         -1      -1              -1             0              1          None      -1   None    None
0   EZ95I41MY1      None            2320   6  4.666667           0  3.98  4.71                                       Biology          -1              2019  marching band 9 10 11 12 section leader 11 12 ...          1       1              -1            -1             -1          None      -1   None    None
0   3HGBBNHX4W      None            2210   7         4           2  4.00     5                                       Biology          -1              2019  more than 400 hrs of community service worked ...         -1       1              -1            -1             -1          None      -1   None    None
0   RRX0J3CMQ3      None            1860   0      None           2  4.00     4                                   Engineering          -1              2019                                                            -1      -1              -1             1             -1          None      -1   None    None
0   NMUUSJU97J      None            2230   0      None           2  4.00     4                                       Biology           1              2019                                                             1       1              -1            -1             -1          None      -1   None    None
0   LW8ONKO7KL      None            2080   6  4.166667           2  3.88  4.71     Aerospace Engineering or Computer Science          -1              2019  Swimming 6 years Varsity 4 years 2014 Varsity ...         -1      -1              -1            -1             -1          None      -1   None    None
0   YVNN6A63M8      None            2020   0      None           0  3.55  3.65                             Political Science          -1              2019                                                            -1       1              -1             1             -1          None      -1   None    None
0   LNBI58YD2Y      None            2170   0      None           5  4.00     4                                       Pre med          -1              2019  President of Medical Club Leader of Yearbook C...          0      -1              -1            -1             -1          None      -1   None    None
0   RD4Z4ORQQG      None            2020   1         2           2  3.78  None                                   Mathematics          -1              2019                                                            -1      -1              -1             1             -1          None      -1   None    None
0   6YVBSOGS45      None            2180   0      None           2  4.00  None                       International Relations           1              2019                                                             1      -1              -1             1              1          None      -1   None    None
0   0UUTPFMXI4      None            1840   2         4           0  3.52  4.03               International Relations Affairs           1              2019                                                            -1       1              -1             0             -1          None      -1   None    None
0   ZE7VB28PHQ      None            1940   2         4           2  3.12  3.48                                                        -1              2019                                                             0      -1              -1             0             -1          None      -1   None    None

[63 rows x 21 columns]

In [58]:
students.save('collegedata_students.csv')
applForm.save('collegedata_applications.csv')
applForm.df

     studentID     collegeID  earlyAppl visited  alumni  outofstate  acceptStatus acceptProb
0   7UZP6UX21V          Yale         -1    None      -1           1            -1        NaN
1   7UZP6UX21V      Stanford         -1    None      -1           1            -1        NaN
2   7UZP6UX21V  JohnsHopkins         -1    None      -1           1             1        NaN
0   NWUGYU3IMA         UPenn         -1    None      -1           1             1        NaN
1   NWUGYU3IMA     Princeton         -1    None      -1          -1             0        NaN
2   NWUGYU3IMA         Brown         -1    None      -1           1            -1        NaN
3   NWUGYU3IMA          Yale         -1    None      -1           1            -1        NaN
4   NWUGYU3IMA       Cornell         -1    None      -1           1            -1        NaN
5   NWUGYU3IMA          Duke         -1    None      -1           1            -1        NaN
6   NWUGYU3IMA  JohnsHopkins         -1    None      -1           1            -1        NaN
0   2GKCVP0IP2          Yale         -1    None      -1           1             1        NaN
0   N86D16HEZG         UPenn         -1    None      -1           1            -1        NaN
1   N86D16HEZG     Princeton         -1    None      -1           1            -1        NaN
2   N86D16HEZG           MIT         -1    None      -1           1            -1        NaN
3   N86D16HEZG          Yale         -1    None      -1           1            -1        NaN
4   N86D16HEZG      UChicago         -1    None      -1           1             1        NaN
5   N86D16HEZG     Dartmouth         -1    None      -1           1             1        NaN
6   N86D16HEZG       Harvard          1    None      -1           1            -1        NaN
7   N86D16HEZG      Stanford         -1    None      -1           1            -1        NaN
8   N86D16HEZG       Cornell         -1    None      -1           1            -1        NaN
9   N86D16HEZG          Duke         -1    None      -1           1            -1        NaN
10  N86D16HEZG  Northwestern         -1    None      -1           1             1        NaN
0   ZYZAKKL2NO     Princeton         -1    None      -1           1            -1        NaN
1   ZYZAKKL2NO         Brown         -1    None      -1           1             1        NaN
2   ZYZAKKL2NO          Yale         -1    None      -1           1            -1        NaN
3   ZYZAKKL2NO       Harvard         -1    None      -1           1             1        NaN
0   1Z39SYLIZO          Yale         -1    None      -1           1            -1        NaN
1   1Z39SYLIZO      UChicago          1    None      -1           1             1        NaN
2   1Z39SYLIZO      Columbia          1    None      -1           1            -1        NaN
3   1Z39SYLIZO    Georgetown         -1    None      -1           1            -1        NaN
..         ...           ...        ...     ...     ...         ...           ...        ...
6   F49CR2SBIU      Stanford         -1    None      -1           1            -1        NaN
7   F49CR2SBIU           UCB         -1    None      -1           1             1        NaN
8   F49CR2SBIU    Georgetown         -1    None      -1           1             1        NaN
9   F49CR2SBIU     NotreDame         -1    None      -1           1             1        NaN
0   4Y2G0G2VJ2          Yale         -1    None      -1           1            -1        NaN
1   4Y2G0G2VJ2     Dartmouth         -1    None      -1           1             1        NaN
2   4Y2G0G2VJ2  JohnsHopkins         -1    None      -1           1            -1        NaN
0   RV8CWPTHJS         UPenn         -1    None      -1           1            -1        NaN
1   RV8CWPTHJS     Princeton         -1    None      -1           1             0        NaN
2   RV8CWPTHJS         Brown         -1    None      -1           1            -1        NaN
3   RV8CWPTHJS          Yale          1    None      -1           1             1        NaN
4   RV8CWPTHJS      Columbia         -1    None      -1          -1            -1        NaN
5   RV8CWPTHJS      Stanford         -1    None      -1           1             0        NaN
6   RV8CWPTHJS       Cornell         -1    None      -1          -1             1        NaN
0   SQ9QEJS7AX         Brown         -1    None      -1           1            -1        NaN
1   SQ9QEJS7AX           MIT          1    None      -1           1            -1        NaN
2   SQ9QEJS7AX          Yale         -1    None      -1           1            -1        NaN
3   SQ9QEJS7AX       Cornell         -1    None      -1           1            -1        NaN
4   SQ9QEJS7AX  JohnsHopkins         -1    None      -1           1            -1        NaN
0   R0RQ0LYLHI     Princeton         -1    None      -1           1            -1        NaN
1   R0RQ0LYLHI         Brown         -1    None      -1           1             1        NaN
2   R0RQ0LYLHI          Yale         -1    None      -1           1             1        NaN
3   R0RQ0LYLHI      UChicago         -1    None      -1           1             1        NaN
4   R0RQ0LYLHI      Columbia          1    None      -1           1            -1        NaN
5   R0RQ0LYLHI     Dartmouth         -1    None      -1           1             1        NaN
6   R0RQ0LYLHI      Stanford         -1    None      -1           1            -1        NaN
7   R0RQ0LYLHI       Cornell         -1    None      -1           1             1        NaN
8   R0RQ0LYLHI          Duke         -1    None      -1           1             1        NaN
0   4XRGBZPE88          Yale         -1    None      -1           1            -1        NaN
0   XJ4EFR1HX1          Yale         -1    None      -1           1            -1        NaN

[365 rows x 8 columns]

In [59]:
if ('applForm' in locals()): del applForm
if ('students' in locals()): del students
applForm = ti.ApplForm()
applForm.read("collegedata_applications.csv")
students = ti.Student()
students.read("collegedata_students.csv")
students.df

     studentID  classrank  admissionstest  AP  averageAP  SATsubject   GPA  GPA_w                                       program  schooltype  intendedgradyear                                            addInfo  canAfford  female  MinorityGender  MinorityRace  international  firstinfamily  sports  artist  workexp
0   7UZP6UX21V        NaN            1930   5   4.600000           0  3.93    NaN                        Mechanical Engineering          -1              2019  track and field 15 hours a weekVarsity letter ...          1       1              -1             1             -1            NaN      -1     NaN      NaN
0   NWUGYU3IMA        NaN            2200   0        NaN           2  3.97    NaN                                       Biology          -1              2019  BoyScouts NHS NHS world language HOSA Varsity ...         -1      -1              -1             0             -1            NaN      -1     NaN      NaN
0   2GKCVP0IP2        NaN            2350   7   5.000000           4  4.00   4.07                                   Mathematics          -1              2019                                                NaN         -1      -1              -1            -1             -1            NaN      -1     NaN      NaN
0   N86D16HEZG        NaN            2360   7   5.000000           3  4.00   4.91                        Industrial Engineering          -1              2019  Varsity Swimming 2 years60 hoursyearNational M...         -1      -1              -1            -1             -1            NaN      -1     NaN      NaN
0   ZYZAKKL2NO        NaN            2250   4   4.500000           2  3.89   4.78                                           NaN           0              2019  First Cello in Youth Symphony Writing awards G...         -1       1              -1             1             -1            NaN      -1     NaN      NaN
0   1Z39SYLIZO        NaN            2170   7   4.571429           3  3.90   4.24         International Relations  Biochemistry          -1              2019                                                NaN         -1      -1              -1            -1             -1            NaN      -1     NaN      NaN
0   89CB8RWSNH        NaN            2200   0        NaN           2  4.00   4.40                             Political Science          -1              2019  Long Branch High School Junior VarsityVarsity ...         -1       1              -1            -1             -1            NaN      -1     NaN      NaN
0   ZT32F5RAJV        NaN            2290   7   4.857143           3  4.00    NaN                                       geology          -1              2019  Employed as a church organist Select Choir Jaz...          1      -1              -1             1             -1            NaN      -1     NaN      NaN
0   HBILT2L4YS        NaN            2110   3   4.333333           3  3.60    NaN                                    Philosophy          -1              2019  Director of African American Culture Club Gene...         -1      -1              -1             1             -1            NaN      -1     NaN      NaN
0   R5XE5YFN86        NaN            2340   7   5.000000           2  3.98   4.41                                       Biology          -1              2019  Piano for 12 years scholarship precollege stud...         -1       1              -1            -1             -1            NaN      -1     NaN      NaN
0   Q9B8MP3I5G        NaN            2200   2   4.500000           0  3.81   4.16                                   Engineering          -1              2019  Run two small businesses 20132014 FIRST roboti...         -1      -1              -1             0             -1            NaN      -1     NaN      NaN
0   78RX3N4RT8        NaN            2140   0        NaN           0  3.60   4.15                              Computer Science          -1              2019  Varsity swimming 912 grades 12 hourswk Robotic...         -1      -1              -1             0             -1            NaN      -1     NaN      NaN
0   S7E8RHTBTV        NaN            2370   5   4.800000           3  4.00    NaN                                      Computer           0              2019  Football Astronomy club computer club spaceset...          1      -1              -1            -1              1            NaN      -1     NaN      NaN
0   O8RR5942AQ        NaN            2230   3   5.000000           3  4.00   4.10                           Electrical Engineer          -1              2019                                                NaN         -1      -1              -1             0             -1            NaN      -1     NaN      NaN
0   LA8ZAYO19W        NaN            2250   0        NaN           4  4.00    NaN                                           NaN           0              2019  Volunteer Paramedic 24hweek 50weeksyear Studen...         -1      -1              -1            -1              1            NaN      -1     NaN      NaN
0   S5V4MCNIS5        NaN            2270   3   4.666667           2  4.00   5.00                                     Chemistry          -1              2019  Debate Team 20112014 7hourswk  Congress Captai...         -1       1              -1             0             -1            NaN      -1     NaN      NaN
0   1D0LJUBZEW        NaN            2040   2   4.500000           2  3.70   4.56  Neurosci or Bio possible minor in humanities          -1              2019  Activities Science Club 1 hrweek 9 weeksyear c...         -1       1              -1             1             -1            NaN      -1     NaN      NaN
0   4SDHCP1FQX        NaN            2150   5   3.800000           2  3.94   4.25                                           NaN          -1              2019                                                NaN         -1       1              -1            -1             -1            NaN      -1     NaN      NaN
0   P3KA3FJIIO        NaN            2340   7   4.428571           4  3.33   4.00                                Bioengineering          -1              2019                                                NaN         -1       1              -1             0             -1            NaN      -1     NaN      NaN
0   2UDFU6GMOE        NaN            1870   6   2.500000           0  4.00   4.00                       Business Administration          -1              2019  I am on the schools varsity soccer team I am a...         -1       1              -1             1             -1            NaN      -1     NaN      NaN
0   OFHJKS1X63        NaN            2300   6   4.833333           4  3.99   4.87                             political science          -1              2019                                                NaN         -1       1              -1             0             -1            NaN      -1     NaN      NaN
0   9LOSM9MXPI        NaN            2150   6   4.333333           3  4.00   4.30                           Geosciences Biology          -1              2019  STEM Exploration Days Boise State University 2...         -1       1              -1             0             -1            NaN      -1     NaN      NaN
0   IP7NCIUG7I        NaN            2310   3   5.000000           3  3.98   4.74                                       Physics          -1              2019                                                NaN          1      -1              -1            -1             -1            NaN      -1     NaN      NaN
0   1N01BA8KGQ        NaN            2070   7   3.857143           0  4.00   4.67                        Biomedical Engineering          -1              2019                                                NaN         -1       1              -1            -1             -1            NaN      -1     NaN      NaN
0   HBPFWZAWJU        NaN            1980   0        NaN           3  4.00    NaN                                       Physics           0              2019  Tennis 20hweek TheaterDrama 2 hweek PaintingDr...         -1      -1              -1            -1              1            NaN      -1     NaN      NaN
0   O28DLGAQY4        NaN            2240   7   4.714286           2  4.00   5.00                                           NaN          -1              2019  3 Years of Basketball 2 Varsity 3 Years of Var...          1      -1              -1            -1             -1            NaN      -1     NaN      NaN
0   JFU2I0N1EJ        NaN            2210   4   5.000000           5  4.00   4.07               International Political Economy          -1              2019  National Junior Honor Society...         -1       1              -1            -1             -1            NaN      -1     NaN      NaN
0   52YRCEA5QH        NaN            1800   3   3.000000           0  3.70    NaN                          Computer engineering          -1              2019                                                NaN          0      -1              -1             1             -1            NaN       1     NaN      NaN
0   ZU34QP1SXA        NaN            2310   7   4.857143           3  4.00   4.00                                     Economics          -1              2019  Beta Club 912 grade 1hrwk Speech and Debate Ca...         -1       1              -1            -1             -1            NaN      -1     NaN      NaN
0   3SMBA6ESE9        NaN            2250   4   4.000000           2  3.75   4.25                                           NaN          -1              2019                                                NaN         -1       1              -1             0             -1            NaN      -1     NaN      NaN
..         ...        ...             ...  ..        ...         ...   ...    ...                                           ...         ...               ...                                                ...        ...     ...             ...           ...            ...            ...     ...     ...      ...
0   J84CZRCN3T        NaN            2070   4   4.500000           3  4.00   5.00                             Political Science          -1              2019  High School Democrats of America 20 hrsweek Na...         -1      -1              -1            -1             -1            NaN      -1     NaN      NaN
0   X0M0N1EW9M        NaN            2250   0        NaN           0  4.00    NaN                                           NaN           0              2019                                                NaN         -1       0               1             0             -1            NaN      -1     NaN      NaN
0   BHHCHB0EEG        NaN            1890   0        NaN           2  3.90   4.10                                           NaN           1              2019                                                NaN          1      -1              -1             0             -1            NaN      -1     NaN      NaN
0   ETLP439GWL        NaN            2390   7   5.000000           2  4.00    NaN                                    Statistics          -1              2019  Academic Decathlon captain tutoring club presi...         -1       1              -1            -1             -1            NaN      -1     NaN      NaN
0   K3Y3UWHCGB        NaN            2320   0        NaN           2  3.90    NaN                                     Economics           1              2019                                                NaN          1       1              -1             1              1            NaN      -1     NaN      NaN
0   8GKHKCCN39        NaN            2360   5   3.600000           4  3.94    NaN                                     Economics          -1              2019  Theatre four years at more than 12 hoursweek Q...          0      -1              -1            -1             -1            NaN      -1     NaN      NaN
0   E943KBPZMT        NaN            1960   5   4.200000           3  4.00    NaN                                     Economics          -1              2019  Drama Club Varsity Beachvolleyball Student Gov...         -1      -1              -1             1             -1            NaN      -1     NaN      NaN
0   ZX4436UU14        NaN            2090   4   3.750000           3  3.62    NaN                                           NaN          -1              2019  Cross country captain 10 hours per week Track ...          1       1              -1             0             -1            NaN      -1     NaN      NaN
0   FXYH1PGVS0        NaN            2010   0        NaN           2  3.86   4.97                                           NaN          -1              2019                                                NaN          1      -1              -1             1             -1            NaN      -1     NaN      NaN
0   LH8YS1OXTW        NaN            2260   7   4.857143           5  3.95   5.00                              Computer Science          -1              2019                                                NaN         -1      -1              -1            -1             -1            NaN      -1     NaN      NaN
0   OKDWQJXLPA        NaN            2250   2   4.500000           2  4.00   4.90                              Computer Science          -1              2019   Key Club grades 912 1 year treasurer 2 year s...         -1       1              -1            -1             -1            NaN      -1     NaN      NaN
0   VR0N52DOY1        NaN            2120   6   4.500000           3  3.90   4.90                                     Psycology          -1              2019  Volleyball 4years Varsity 1year captain Club V...          0      -1              -1            -1             -1            NaN       1     NaN      NaN
0   F6HTB0M3N9        NaN            2350   7   4.857143           5  3.85   4.17                             Political Science          -1              2019                                                NaN         -1      -1              -1            -1             -1            NaN      -1     NaN      NaN
0   GYRKILJY35        NaN            2110   2   5.000000           4  3.91    NaN                                Marine Biology           0              2019  LEADERSHIP EXPERIENCES  \tAttended the fourth...         -1      -1              -1             1             -1            NaN      -1     NaN      NaN
0   JUP4YWH06O        NaN            2060   0        NaN           3  3.40   3.80                                  Neuroscience           0              2019  Pointe Dancer with Local Ballet Troupe Secreta...         -1       1              -1            -1              1            NaN      -1     NaN      NaN
0   UYB9DDK1FR        NaN            2400   7   4.857143           6  4.00   5.00                                   Mathematics          -1              2019  Captain of the varsity track team President of...          1      -1              -1            -1             -1            NaN       1     NaN      NaN
0   DBEVRHFORZ        NaN            2200   1   5.000000           2  4.00    NaN                                Bioengineering          -1              2019                                                NaN         -1       1              -1            -1             -1            NaN      -1     NaN      NaN
0   QW4GQ6F6ZQ        NaN            2130   3   4.666667           3  4.00   4.07                                           NaN          -1              2019                                                NaN         -1       1              -1            -1             -1            NaN      -1     NaN      NaN
0   D9XS1M76SE        NaN            2335   0        NaN           2  3.20   3.20                              COMPUTER SCIENCE           1              2019  I PARTICIPATED  IN SPORTS PARTICULARLY COMPRIS...         -1      -1              -1             0              1            NaN      -1     NaN      NaN
0   32SS112VOX        NaN            2320   6   4.666667           0  3.98   4.71                                       Biology          -1              2019  marching band 9 10 11 12 section leader 11  12...          1       1              -1            -1             -1            NaN      -1     NaN      NaN
0   80OX3KFK2A        NaN            2210   7   4.000000           2  4.00   5.00                                       Biology          -1              2019  more than 400 hrs of community service worked ...         -1       1              -1            -1             -1            NaN      -1     NaN      NaN
0   DS8ANRFA8K        NaN            1860   0        NaN           2  4.00   4.00                                   Engineering          -1              2019                                                NaN         -1      -1              -1             1             -1            NaN      -1     NaN      NaN
0   DRUJ4BMLGB        NaN            2230   0        NaN           2  4.00   4.00                                       Biology           1              2019                                                NaN          1       1              -1            -1             -1            NaN      -1     NaN      NaN
0   F49CR2SBIU        NaN            2080   6   4.166667           2  3.88   4.71     Aerospace Engineering or Computer Science          -1              2019  Swimming 6 years Varsity 4 years 2014 Varsity ...         -1      -1              -1            -1             -1            NaN      -1     NaN      NaN
0   4Y2G0G2VJ2        NaN            2020   0        NaN           0  3.55   3.65                             Political Science          -1              2019                                                NaN         -1       1              -1             1             -1            NaN      -1     NaN      NaN
0   RV8CWPTHJS        NaN            2170   0        NaN           5  4.00   4.00                                        Premed          -1              2019  President of Medical Club Leader of Yearbook C...          0      -1              -1            -1             -1            NaN      -1     NaN      NaN
0   SQ9QEJS7AX        NaN            2020   1   2.000000           2  3.78    NaN                                   Mathematics          -1              2019                                                NaN         -1      -1              -1             1             -1            NaN      -1     NaN      NaN
0   R0RQ0LYLHI        NaN            2180   0        NaN           2  4.00    NaN                       International Relations           1              2019                                                NaN          1      -1              -1             1              1            NaN      -1     NaN      NaN
0   4XRGBZPE88        NaN            1840   2   4.000000           0  3.52   4.03              International Relations  Affairs           1              2019                                                NaN         -1       1              -1             0             -1            NaN      -1     NaN      NaN
0   XJ4EFR1HX1        NaN            1940   2   4.000000           2  3.12   3.48                                           NaN          -1              2019                                                NaN          0      -1              -1             0             -1            NaN      -1     NaN      NaN

[63 rows x 21 columns]

In [82]:
if ('students' in locals()): 
    students.cleanup()
    del students
if ('applForm' in locals()): del applForm
students = ti.Student()
applForm = ti.ApplForm()
p=list(profileList)[26]
#p='3q9x4'
#p='meggymack92'
#p='6FNsQ'
#p='pdfrU'
#p='8xnTk'
profile_url=baseurl+student_url+p
print profile_url
soup=BeautifulSoup(requests.get(profile_url).text,'html.parser')
#print soup.prettify()
#print columns
newrow, applications = getColumnValues(soup)
studentID=students.insert(newrow)
for app in applications:
    app['studentID']=studentID[0]
applForm.insert(applications)
students.save('test_student.csv')
print newrow
students.df

http://www.collegedata.com/cs/admissions/admissions_profile_view.jhtml?profileName=kcedela
{'intendedgradyear': 2019, 'classrank': None, 'canAfford': -1, 'schooltype': -1, 'artist': None, 'MinorityGender': -1, 'averageAP': 5.0, 'admissionstest': 2210, 'GPA': 4.0, 'studentID': 'LH97PJFZWQ', 'GPA_w': 4.07, 'AP': 4, 'program': 'International Political Economy', 'female': 1, 'workexp': None, 'international': -1, 'addInfo': 'National Junior Honor Society 2010 2013 Foreign Language Honor Society 2012 Present National Honor Society 2013 Present Treasurer 2014 Present Science Honor Society 2013 Present TRI M Music Honor Society 2013 Present Treasurer 2014 Present Mu Alpha Theta 2014 Present Contributions to Poseidon School Literary Magazine 2011 2014 Junior Varsity Soccer 2011 2012 Varsity Winter Track and Field 2011 Present Varsity Spring Track 2011 Present Yoga Class 2012 Present Classical Piano 2001 Present New York Performing Arts 42nd Students Achievement Recital Weill Recital Hall at Carnegie Hall 2007 Departmental Honor Society Induction Ceremony Pianist 2012 2014 The Wanderers Musical Group Keyboardist 2013 Present Performance at Murph s Restaurant 2014 Performance at Shakleton s Restaurant 2014 Marching Band 2011 Present Drum Major 2013 Present Senior Band Secretary 2014 Present Pit Orchestra 2011 Present Suessical the Musical Auxiliary Percussion 2011 2012 The Drowsy Chaperone Auxiliary Percussion 2012 2013 Fiddler on the Roof Auxiliary Percussion 2013 2014 Once Upon A Mattress Piano Celeste 2014 2015 Stage Crew 2010 Present Treasurer 2013 Present Model UN 2011 Present Vice Present 2013 Present Head Delegate 2013 Present Sewanhaka Intra District Model United Nations Conference Chair 2012 2013 2013 2014 Executive Director 2014 2015 Model UN Fundraisers for Non Governmental Organizations 2011 Present Heifer International 2011 CARE International 2012 Charity Water 2013 Malala Fund BringBackOurGirls Campaign 2014 Books for Africa Book Drive 2014 After School Care and Enrichment Program Model United Nations Club Founder and Volunteer 2014 Presest Ice Cream Sales for the children of the Bafodia Village in Sierra Leone 2013 Counselor In Training at the Waldorf School of GC Summer Camp 2012 2013 Peer Tutor in Math 2013 2014 Alter Serving at St Catherine of Sienna Church 2014 Present Long Island Marathon Water Station 2014 Divas Half Marathon 5K in Long Island 2014 Private Math and Science Tutor 2013 Present Junior Counselor at Waldorf School of Garden City Summer Camp 2014 Babysitting 2014 PresentOutstanding Athletic Achievement Award Sportsmanship Soccer 2011 Varsity Winter Track School Record Girl s 4x400 Relay 2012 Carey Character Award 2012 All Conference Race Walking 2013 2014 All County Mallet Percussion 2013 NYSMMA Piano Level 6 Score of 100 2011 2012 2013 NYSMMA Piano Level 6 Score of 99 2014 NYSMMA Mallet Percussion Level 5 Score of 100 2012 NYSMMA Mallet Percussion All State Score of 99 2013 NYSMMA Mallet Percussion All State Score of 96 2014 Hofstra Model UN Outstanding Delegate Award 2013 Johns Hopkins Model UN Honorable Mention Award 2014 Hofstra Model UN Best Delegate Award 2014 Hofstra Model UN Best Delegation Award 2014 Rutgers Model UN Distinguished Delegate Award 2014 UChicago Model UN Honorable Mention Award 2015 Hofstra Model UN Outstanding Delegate Award 2015 Franklin Square Historical Society American History Achievement Award 2014 Brown University Book Award 2014 Guest Speaker at Sewanhaka Central High School District Opening Day Ceremonies 2014 National Merit Finalist 2015 October Senior of the Month 2014', 'sports': -1, 'MinorityRace': -1, 'SATsubject': 5, 'firstinfamily': None}

    studentID classrank  admissionstest  AP  averageAP  SATsubject  GPA  GPA_w                          program  schooltype  intendedgradyear                                            addInfo  canAfford  female  MinorityGender  MinorityRace  international firstinfamily  sports artist workexp
0  LH97PJFZWQ      None            2210   4          5           5    4   4.07  International Political Economy          -1              2019  National Junior Honor Society 2010 2013 Foreig...         -1       1              -1            -1             -1          None      -1   None    None

In [83]:
if ('students' in locals()): 
    students.cleanup()
    del students
students=ti.Student()
students.read('test_student.csv')
students.df

    studentID  classrank  admissionstest  AP  averageAP  SATsubject  GPA  GPA_w                          program  schooltype  intendedgradyear                                            addInfo  canAfford  female  MinorityGender  MinorityRace  international  firstinfamily  sports  artist  workexp
0  LH97PJFZWQ        NaN            2210   4          5           5    4   4.07  International Political Economy          -1              2019  National Junior Honor Society 2010 2013 Foreig...         -1       1              -1            -1             -1            NaN      -1     NaN      NaN